.item {
    background: #2a2a2a;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Imagen arriba, título abajo */
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #444;
    padding: 10px;
    gap: 5px;
}

.item img {
    max-width: 100%;
    max-height: 120px; /* Ajusta según necesidad */
    border-radius: 5px;
}

.titulo {
    color: white;
    font-weight: bold;
    text-align: center;
}



.grid-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 8px;
}


/*  quita la barra de scroll a lo ancho */
html, body {
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}

.grid img {
    width: 100%;
    height: auto;
    display: block;
}

.side img {
    max-width: 100%;
    height: auto;
}

/* Si el QR + thumbnails no entran en móviles → se rompe.
Solución: */
.content {
    flex-wrap: wrap;
}

/* ajusta el banner en su lugar para moviles*/
.banner img {
    max-width: 100%;
    height: auto;
}
